.field {
  position: relative;

  &-label,
  &-error {
    font-size: var(--text-body-small);
    font-weight: var(--weight-bold);
    display: block;
  }

  &-label {
    padding-bottom: var(--space-8);
  }

  &-error {
    color: var(--color-vermellion);
  }

  /* Error messages are flush right on the same line as field labels */
  &-error {
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Hide error message when empty */
  &-error:empty {
    display: none;
  }

  /* Base input field styles */
  input {
    --border-color: var(--color-grey-25);

    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--rounded-8);
    padding: var(--space-16) var(--space-24);

    &:hover {
      --border-color: var(--color-dark-navy);
    }

    &::placeholder {
      opacity: 0.5;
    }
  }

  /* Invalid field styles */
  &.isInvalid input {
    --border-color: var(--color-vermellion);
    background: #FF615526;
    color: var(--border-color);
  }
}
