.signupCard {
  background: var(--color-white);
  color: var(--color-dark-navy);
  max-width: 58em;

  &-image img {
    /* Image takes up the viewport width */
    width: 100%;
    height: auto;

    /* Rounded bottom corners */
    border-bottom-left-radius: var(--rounded-12);
    border-bottom-right-radius: var(--rounded-12);
  }

  /* Add padding around content */
  &-content {
    padding: var(--space-40) var(--space-24);
  }

  /* Set gap between elements inside text and form sections */
  &-content > * {
    --flow-space: var(--space-24);
  }

  /**
   * If card copy contains list markup:
   * 1. Use slightly smaller spacing (10px) between list items
   * 2. Remove the default margin and padding in ul tags
   * 3. Replace bullet points with check icons
   */
  &-content li + li {
    margin-top: 0.625rem; /* 1 */
  }

  &-content ul {
    margin-bottom: 0; /* 2 */
    padding-left: 0; /* 2 */

    li {
      list-style-type: none; /* 3 */
      display: flex;
      gap: 1em;

      &::before {
        content: '\200B'; /* zero-width space keeps list semantics in Safari/VoiceOver */
        background-image: url('../images/icon-list.svg');
        width: 1.3125rem; /* 21px */
        height: 1.3125rem; /* 21px */
        flex-shrink: 0;
        transform: translate(0, 1px); /* optical adjustment */
      }
    }
  }

  .form {
    margin-top: var(--space-40);
  }

  @media screen and (min-width: 40em) {
    padding: var(--space-24) var(--space-24) var(--space-24) var(--space-24-64);

    /**
     * 1. Switch to a 2-column layout with equal widths
     * 2. Put the content on the first/left column
     * 3. Image is on the right column
     */
    display: grid; /* 1 */
    grid-template-columns: 1fr 1fr; /* 1 */
    column-gap: var(--space-24-64);
    border-radius: var(--rounded-36);
    box-shadow: var(--shadow-card);

    > * {
      grid-row: 1 / 2; /* 1 */
    }

    &-content {
      grid-column: 1 / 2;  /* 2 */
      padding: 0;

      /* Center content vertically */
      display: grid;
      align-content: center;

      /* Enforce a minimum height so there's always enough whitespace at the top and bottom of the content  */
      min-height: calc(40em - var(--space-24) * 2);
    }

    &-image {
      grid-column: 2 / 3;  /* 3 */

      /* Image will take the full height of the card */
      picture, img {
        height: 100%;
      }

      img {
        object-fit: cover;
        object-position: right;
        border-radius: var(--rounded-12);
      }
    }
  }
}
