/* Enforce a measure for all elements, with a few exceptions */
* {
  max-inline-size: var(--measure-base, 60ch);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

/* Base styles */
body {
  font-family: var(--font-base);
  font-size: var(--text-body);
  font-weight: var(--weight-base);
  line-height: var(--leading-loose);
  color: var(--color-white);
  background: var(--color-pale-navy);
}

main {
  min-height: 100vh;

  @media screen and (min-width: 40em) {
    display: grid;
    place-content: center;
    padding: var(--space-24);
  }
}

h2 {
  font-size: var(--text-heading);
  line-height: var(--leading-tight);
}

:focus-visible {
  outline: 0.25em solid var(--color-vermellion);
}
