:root {
  --color-white: #FFFFFF;
  --color-grey-25: #19182B40;
  --color-pale-navy: #36384D;
  --color-dark-navy: #242742;
  --color-vermellion: #FF6155;

  --font-base: Roboto, sans-serif;
  --text-body: 16px;
  --text-heading: 56px;

  --weight-base: 400;
  --weight-bold: 700;

  --leading-loose: 1.5;
  --leading-tight: 1;
}
